.main-header {
  padding-top: 40px;
  padding-bottom: 40px;

  .header-title {
    font-size: 24px;
    text-decoration: none;
    color: #1D1D1D;
  }

  .header-image-container {
    height: 80px;

    .header-image {
      height: 100%;
    }
  }

  .close-link {
    text-decoration: none;
    color: #818181;
  }
}

.main-banner {

  .banner-title {
    font-size: 120px;
    line-height: 98%;
    color: #1D1D1D;
  }

  .links {
    margin-top: 50px;
    margin-bottom: 300px;

    .banner-link {
      text-decoration: none;
      color: #1D1D1D;
      font-size: 18px;
      position: relative;
    

      &:hover {

        &::after {
          content: '';
          width: 8px;
          height: 8px;
          background-color: #90A7A7;
          position: absolute;
          left: -20px;
          top: 10px;
          border-radius: 4px;
        }
      }
    }
  }
}

.scroll {
    position: relative; 
    transform: rotate(90deg);
    font-size: 20px;
    color: #1D1D1D;

    &::after {
      content: '';
      width: 300px;
      height: 1px;
      background-color: #1D1D1D;
      position: absolute;
      top: 15px;
      left: 100px;
    }
}

.cocaine {
  margin-top: 64px;

  .cocaine-title {
    font-size: 20px;
  }

  .cocaine-subtitle {
    margin-top: 24px;
    font-size: 24px;
  }

  .cocaine-background {
    width: 100%;
  }

  .cocaine-description {
    font-size: 16px;
    color: #535353;
  }
}

.canvas {
  margin-top: 100px;
  margin-bottom: 100px;

  ul {
    
    li {
      list-style: none;
    }
  }
  .canvas-title {
    font-size: 24px;
    margin-bottom: 300px;

     &::after {
      content: '';
      width: 300px;
      height: 1px;
      background-color: #707070;
      transform: rotate(-90deg) translate(-200px, -190px);
      position: absolute;
      top: 0px;
    }

  }

  .canvas-image-list {
    margin-top: 120px;

    .canvas-image {
      width: 100%;

      &:not(first-child) {
        position: relative;
        margin-top: -70px;
      }
    }
  }

  .canvas-image-title {
    text-decoration: none;
    font-size: 30px;
    color: #1D1D1D;
  }

  .canvas-image-subtitle {
    font-size: 30px;
    color: #ADADAD;
  }
}

.main-footer {
  color: white;
  padding-top: 100px;
  padding-bottom: 100px;
  height: 100vh;

  .footer-title {
    font-size: 30px;
    line-height: 98%;
  }

  .footer-line-break {
    background-color: white;
    width: 30%;
    float: left;
  }

  .footer-links {
    margin-top: 50px;

    a {
      text-decoration: none;
      color: white;
    }
  }

  .footer-description {
    font-size: 18px;
  }

  .footer-copyright { 
    margin-top: 70px;
    font-weight: 300;
    font-size: 14px;
  }

  .footer-credits {
    margin-top: 16px;
    font-size: 14px;
    font-weight: 300;

    a {
      text-decoration: none;
      color: white;
    }
  }
}

* {
  box-sizing: border-box;
}

.canvas-banner {

  .canvas-banner-title {
    font-size: 50px;
  }

  .canvas-banner-subtitle {
    font-size: 30px;
    color: #ADADAD;
  }
    .canvas-banner-link {
      display: block;
      margin-top: 50px;
      text-decoration: none;
      color: #1D1D1D;
      font-size: 20px;
      position: relative;
  }
}

.canvas-backdrop-container {
  margin-top: 120px;

  .canvas-backdrop-image {
    width: 100%;
  }
}

.canvas-description-container {
  margin-top: 200px;
  margin-bottom: 100px;

  .canvas-year {
    margin-bottom: 50px;
    color: #1D1D1D;
  }

  .canvas-genre {
    color: #1D1D1D;
  }

  .canvas-description {
    font-size: 24px;
    line-height: 98%;
  }
}

.canvas-image-full {
  margin-bottom: 40px;
  width: 100%;
}

.canvas-footer {
  margin-top: 100px;
  color: #363636;
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
  height: 100vh;

  a {
    text-decoration: none;
    color: #363636;
  }

  .next-link {
    position: absolute;
    top: 0;
  }

  .footer-title {
    font-size: 32px;
  }

  .footer-subtitle {
    font-size: 24px;
  }

  .image {
    width: 100%;
  }

  .next-icon {
    margin-left: 10px;
    color: white;
  }

}

.main-footer-animation {
  background-color: black;
}

.canvas-footer-animation {
  background-color: #E3E0DC;
}

body {
  background-color: white;
  transition: background-color 1s ease;
}