.pointer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(100%,100%);
  background-color: grey;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #000;
  pointer-events: none;
  transition: 0.1s;
  z-index: 100;
}

.main-header {
  padding-top: 40px;
  padding-bottom: 40px;

  .header-title {
    font-size: 24px;
    text-decoration: none;
    color: #1D1D1D;
  }

  .header-image-container {
    height: 80px;

    .header-image {
      height: 100%;
    }
  }

  .close-link {
    text-decoration: none;
    color: #818181;
  }
}

.main-banner {

  .banner-title {
    font-size: 120px;
    line-height: 98%;
    color: #1D1D1D;
  }

  .links {
    margin-top: 50px;
    margin-bottom: 300px;

    a {
      text-decoration: none;
      color: #1D1D1D;
      font-size: 18px;
      position: relative;

      span {
        position: relative;
        overflow: hidden;
        transition: 0.6s;

        .out {
          display: inline-flex;
        }

        .in {
          position: absolute;
          left: 0;
          opacity: 0;
          transform: translateX(100%);
        }
      }

      &:hover {
        span {
          .out {
            opacity: 0;
            transform: translateX(-100%);
          }

          .in {
            opacity: 1;
            transform: translateX(0);
          }
        }
      }
    }
  }
}

.scroll {
    position: relative; 
    transform: rotate(90deg);
    font-size: 20px;
    color: #1D1D1D;

    &::after {
      content: '';
      width: 300px;
      height: 1px;
      background-color: #1D1D1D;
      position: absolute;
      top: 15px;
      left: 100px;
    }
}

.cocaine {
  margin-top: 25vh;
  height: 100vh;

  .cocaine-title {
    font-size: 20px;

  }

  .cocaine-subtitle {
    margin-top: 24px;
    font-size: 24px;
  }

  .cocaine-background {
    width: 100%;
  }

  .cocaine-description {
    font-size: 16px;
    color: #535353;
  }
}

.canvas {
  margin-top: 100px;
  margin-bottom: 100px;

  ul {
    
    li {
      list-style: none;
    }
  }

  .canvas-image-container {
    z-index: 10;
  }

  .canvas-title {
    font-size: 24px;
    margin-bottom: 270px;

     &::after {
      content: '';
      width: 250px;
      height: 1px;
      background-color: #707070;
      transform: rotate(-90deg) translate(-170px, -160px);
      position: absolute;
      top: 0px;
    }

  }

  .canvas-image-list {

    .canvas-image {
      width: 100%;  
    }

      li:not(:first-child) {
        position: relative;
        margin-top: -200px !important;
      }
  }

  .canvas-image-title {
    text-decoration: none;
    font-size: 30px;
    color: #1D1D1D;
    font-family: 'Cinzel', serif;

  }

  .canvas-image-subtitle {
    font-size: 30px;
    color: #ADADAD;
  }
}

.main-footer {
  color: white;
  padding-top: 100px;
  padding-bottom: 100px;
  height: 100vh;

  .footer-title {
    font-size: 30px;
    line-height: 98%;
  }

  .footer-line-break {
    background-color: white;
    width: 30%;
    float: left;
  }

  .footer-links {
    margin-top: 100px;
    a {
      position: relative;
      text-decoration: none;
      color: white;
      margin-right: 30px;

      span {
        position: relative;
        overflow: hidden;
        transition: 0.6s;

        .out {
          display: inline-flex;
        }

        .in {
          position: absolute;
          left: 0;
          opacity: 0;
          transform: translateX(100%);
        }
      }

      &:hover {
        span {
          .out {
            opacity: 0;
            transform: translateX(-100%);
          }

          .in {
            opacity: 1;
            transform: translateX(0);
          }
        }
      }
    }
  }

  .footer-description {
    font-size: 18px;
    margin-top: 50px;
  }

  .footer-copyright-container {
    margin-top: 200px;

    .footer-copyright { 
      font-weight: 300;
      font-size: 14px;
    }

    .footer-credits {
      font-size: 14px;
      font-weight: 300;

      .footer-credits-title {
        color: #3c3c3c;
      }

      a {
        text-decoration: none;
        color: white;
      }
  }
  }
}

* {
  box-sizing: border-box;
}

.canvas-banner {

  .canvas-banner-title {
    font-size: 50px;
    
  }

  .canvas-banner-subtitle {
    font-size: 30px;
    color: #ADADAD;
  }
    .canvas-banner-link {
      display: block;
      margin-top: 50px;
      text-decoration: none;
      color: #1D1D1D;
      font-size: 20px;
      position: relative;
  }
}

.canvas-backdrop-container {
  margin-top: 120px;

  .canvas-backdrop-image {
    width: 100%;
  }
}

.canvas-description-container {
  margin-top: 200px;
  margin-bottom: 100px;

  .canvas-year {
    margin-bottom: 50px;
    color: #1D1D1D;
  }

  .canvas-genre {
    color: #1D1D1D;
  }

  .canvas-description {
    font-size: 24px;
    line-height: 98%;
  }
}

.canvas-image-full {
  margin-bottom: 40px;
  width: 100%;
}

.canvas-footer {
  margin-top: 100px;
  color: #363636;
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
  height: 100vh;

  a {
    text-decoration: none;
    color: #363636;
  }


  .footer-title {
    font-size: 32px;
  }

  .footer-subtitle {
    font-size: 24px;
  }

  .image {
    width: 100%;
  }

  .next-icon {
    margin-left: 10px;
    color: white;
  }

}

.cocaine-animation {
  background-color: #dcd6c8;;
}

.main-footer-animation {
  background-color: black;
}

.canvas-footer-animation {
  background-color: #E3E0DC;
}

body {
  background-color: white;
  transition: background-color 1s ease;
}

.cursor-link {

  &:hover {
    cursor: pointer;
  }
}

@media (max-width: 991.98px) {

  .main-banner {

    .banner-title {
      font-size: 70px;
    }
  }

  .canvas {

    .canvas-image-list {

      .canvas-image {
        margin-top: 0px
      }

      li:not(:first-child) {
        position: relative;
        margin-top: 40px !important;
      }
    }

    .canvas-title {
        margin-bottom: 150px;
    }
  }
}
